.imagens{
    background-color: rgba(119, 195, 236, 70%);
}
.carousel-item img{
    height:300px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

.conteudo{
    background-color: rgba(119, 195, 236, 40%);
}
.conteudo p{
    font-size: 18px;
    color: rgb(82, 82, 82);
    background-color: #f8f9fa;
    margin: 0;
    padding-left: 10px;
}
.conteudo span{
    color: black;
}
.conteudo div div{
    padding-bottom: 10px;
}

.row{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}