.formSection{
    background: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.formSectionTitle{
    color: gray;
}
textarea{
    height: 70px !important;
}
/*CSS Página formulário */
/*Margens para todo o formulário*/
.formClass{
    margin-top: 7%;
    margin-left: 2%;
}
/*Header do formulário*/
.form-header {
    margin-bottom: 7%;
    font-weight: bold;
    min-width: 100%;
}
/* formatação geral para os divs da página */
.perguntaForm{
    margin: 20px auto 25px auto;
}
/*Formatação geral para as sub perguntas*/
.subPerguntas{
    margin: 25px auto 10px 15px;
}
/*Caixas de input*/
.form-control {
    border: solid black 1px;
    height: 35px;
    margin: 10px auto 8px auto;
    background-color: ghostwhite;
}

/*Inputs tipo radio e checkbox*/
.form-check input[type=radio], .form-check input[type=checkbox]{
    border: solid black 1px;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.form-check input[type=radio]:not(:checked), .form-check input[type=checkbox]:not(:checked) {
    background-color: ghostwhite;
}
.form-check, .form-subpergunta{
    max-width: 100%;
    margin: 10px 5px 0 15px;
}
.form-check-label{
    display: table-cell;
}
.form-label{
    font-weight: normal;
}
/*Campos de carater obrigatorio*/
.campoObrigatorio{
    color: red;
    font-weight: bold;
}
/*Tamanho da letra e checkbox, politica privacidade*/
.formpolprivacidade{
    font-size: 13px;
}
input.formpolprivacidade{
    height: 15px;
    width: 15px;
    border: lightgrey solid 1px !important;
}
/* cor para links */
.ligacao{
    color: #77C3EC;
}
/* Butão enviar*/
.mainBtn{
    margin: auto auto 20px 50%;
    width: 160px;
    height: 50px;
}

/*Formatação das imagens no banner lateral*/
.formBanner {
    margin: 15% 1% auto auto;
}

.imagem1{
    min-width: 100%;
    height: 28%!important;
}
.img-thumbnail{
    width: 100%;;
    height: 18%;
}
/*Banner lateral do formulário desaparece*/
@media screen and (max-width: 768px){
    .formBanner{
        display: none;
    }
}