/* Imagem de Fundo Inicial */
.firstImage{
    /* Centra o conteudo na tela */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Define o background */
    background-image: url("../imgs/home.jpeg");
    background-repeat: no-repeat;
    height: calc(100vh - 55.96px);
    background-position: 85%;
    background-size: cover;
    opacity: 0.85;
}
/* Titulo sobre a imagem inicial */
.firstImageTitle{
    /* Background */
    background-color: rgba(155,216,243, 0.4);
    border: 3px solid ghostwhite;
    /* Texto */
    color: ghostwhite;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
    /* Posição */
    width: 80%;
    padding: 20px;
    margin: auto;
    min-width: 200px;
}
/* Botão sobre a imagem inicial (Usa a formatação do btnVoltar) */
.firstImageButton{
    height: 60px;
    border-width: 4px;
    min-width: 125px;
    max-width: 300px;
}
/* Colunas da HomePage */
.homeColumns{
    column-gap: 30px;
}
.homeColumns h1{
    border-bottom: 2px solid white;
}
.homeColumns .btn-dark{
    margin-bottom: 20px;
}
.coluna1{
    background: #eaeaea;
}
.coluna2{
    background: #9DD9F3;
}
.coluna3{
    background: #77C3EC;
}
.mainBtn{
    padding-top: 10px
}
/* Design reativo */
@media screen and (max-width: 768px){
    /* Imagem de Fundo Inicial */
    .firstImage{
        height: 40vh;
        background-size: cover;
        background-position: 85% 70%;
    }
    /* Titulo sobre a imagem inicial */
    .firstImageTitle{
        padding: 5px;
    }
}
@media screen and (max-width: 450px){
    /* Imagem de Fundo Inicial */
    .firstImage{
        height: 22vh;
        background-position: 85% 65%;
    }
    /* Titulo sobre a imagem inicial */
    .firstImageTitle{
        font-size: 18px;
    }
    /* Botão sobre a imagem inicial */
    .firstImageButton{
        height: 50px;
        margin-top: 5px;
    }
}