/* Edita a navbar */
.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background: #9DD9F3;
    justify-content: space-between;
    font-size:18px;
    border-bottom: solid black 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 65px;
}
/* Edita os links*/
.nav,
.nav .nav-links{
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}
/* .nav a:hover{
    background-color: #ffe064;
    border: solid black 1px;
    border-radius: 6px;
} */
/* Edita o Logo */
.nav .logo{
    font-size: 25px;
    font-weight: 550;
}
/* Esconde os botoes utilizados nos designs menores */
.nav .abrirNav{
    display:none;
}
/* Esconde o texto usado nos designs menores */
#fullText{
    display: none;
}
/* Remove CSS dos botões */
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* Responsivo */
@media screen and (max-width: 768px){
    /* Ativa os botões do design responsivo */
    .nav .abrirNav{
        display: inherit;
    }
    /*Remove os botoes usados no design maior e ativa o texto usado nos menores*/
    #fullText{
        display: inherit;
    }
    #navIcons{
        display: none;
    }
    /* Edita os Links */
    .nav .nav-links{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #9DD9F3;
        flex-direction: column;
        height: 235px;
        width: 180px;
        margin-top: 64px;
        row-gap: 32px;
        transition: all 0.4s linear;
        border: solid black 1px;
        padding-top: 2px;
    }
    .nav a{
        position: absolute;
        width: 180px;
        text-align: center;
        left: 0;
        height: 33px;
        line-height: 33px;
        border-bottom: dotted white 1px;
        padding: 0;
    }
    /* Mostra o menu ao clicar no botão */
    .nav .navAberta{
        display: inherit;
    }
    /* Edita o botão de abrir */
    .nav .abrirNav{
        color: white;
        font-size: 30px;
    }
}