* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: #f8f8ff;
}

/* Elementos padrão */
hr{
    width: 200px;
    margin:5px auto 25px auto;
    border:#77C3EC 3px solid;
    border-radius: 10px;
    opacity: 1;
}
h1{
    font-size: 26px;
}
h2{
    font-size: 22px;
}
span{
    font-weight: bold;
}
.textoJustificado{
    text-align: justify;
    margin-bottom: 12px;
}



/* Botão principal */
.mainBtn{
    background-color: ghostwhite;
    color: #77C3EC;
    border-color: #77C3EC;
    border-width: 2px;
}
.mainBtn:hover{
    background-color: #77C3EC;
    border-color: #77C3EC;
}
.mainBtn:active{
    background-color: ghostwhite!important;
    color: #77C3EC!important;
    border-color: #77C3EC!important;
}

/* Cartão principal */
.mainCard{
    width: 18rem;
    display: inline-block;
}
.mainCard img{
    max-width: 400px;
    height: 200px;
}