* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: #f8f8ff;
}
/* Página "Quem Somos" */
.mainQuemSomos{
    padding: 25px;
    text-align: center;
}
.mainQuemSomos hr{
    margin:5px auto 25px auto;
    width:200px;
    border:#77C3EC 3px solid;
    border-radius: 10px;
    color:#77C3EC;
}
.mainQuemSomos p{
    margin-bottom:12px;
    text-align: justify;
}
.mainQuemSomos h1{
    font-size: 26px;
}
.mainQuemSomos span{
    font-weight: bold;
}
/* Botão Página Quem Somos */
.btnVoltar{
    background-color: ghostwhite;
    color: #77C3EC;
    border-color: #77C3EC;
    border-width: 2px;
    margin-top: 25px;
}
.btnVoltar:hover{
    background-color: #77C3EC;
    border-color: #77C3EC;
}
.btnVoltar:active{
    background-color: ghostwhite!important;
    color: #77C3EC!important;
    border-color: #77C3EC!important;
}
/* Imagem de Fundo Inicial */
.firstImage{
    /* Centra o conteudo na tela */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Define o background */
    background-image: url("../imgs/dog.jpeg");
    background-repeat: no-repeat;
    height: calc(100vh - 55.96px);
    background-position: 85%;
    background-size: cover;
    opacity: 0.85;
}
/* Titulo sobre a imagem inicial */
.firstImageTitle{
    /* Background */
    background-color: rgba(155,216,243, 0.4);
    border: 3px solid ghostwhite;
    /* Texto */
    color: ghostwhite;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
    /* Posição */
    width: 80%;
    padding: 20px;
    margin: auto;
    min-width: 200px;
}
/* Botão sobre a imagem inicial (Usa a formatação do btnVoltar) */
.firstImageButton{
    height: 60px;
    border-width: 4px;
    min-width: 125px;
    max-width: 300px;
    margin-top: 25px;
}
/* Colunas da HomePage */
.homeColumns{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    column-gap: 30px;
}
.homeColumns h1{
    font-size: 32px;
    padding-top: 30px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.homeColumns i{
    font-size: 32px;
}
.homeColumns p{
    text-align: left;
    padding: 10px;
    font-size: 18px;
}
.homeColumns .btn-dark{
    margin-bottom: 20px;
}
.coluna1{
    background: #eaeaea;
}
.coluna2{
    background: #9DD9F3;
}
.coluna3{
    background: #77C3EC;
}
/* Design reativo */
@media screen and (max-width: 992px){
    .homeColumns{
        display: inherit;
    }
    .coluna1, .coluna2{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px){
    /* Imagem de Fundo Inicial */
    .firstImage{
        height: 40vh;
        background-size: cover;
        background-position: 85% 70%;
    }
    /* Titulo sobre a imagem inicial */
    .firstImageTitle{
        padding: 5px;
    }
}
@media screen and (max-width: 450px){
    /* Imagem de Fundo Inicial */
    .firstImage{
        height: 22vh;
        background-position: 85% 65%;
    }
    /* Titulo sobre a imagem inicial */
    .firstImageTitle{
        font-size: 18px;
    }
    /* Botão sobre a imagem inicial */
    .firstImageButton{
        height: 50px;
        margin-top: 5px;
    }
}
/*CSS Página formulário */
/*Margens para todo o formulário*/
.formClass{
    margin-top: 7%;
    margin-left: 2%;
}

/*Header do formulário*/
.form-header {
    margin-bottom: 7%;
    font-weight: bold;
    min-width: 100%;
}

/* formatação geral para os divs da página */
.perguntaForm{
    margin: 25px auto 35px auto;
}

/*Formatação geral para as sub perguntas*/
.subPerguntas{
    margin: 25px auto 10px 15px;
}

/*Caixas de input*/
.form-control {
    border: solid black 1px;
    height: 35px;
    margin-top: 15px;
}

/*Formatação para as perguntas com dois campos de respostas*/
div.form-duasperguntas{
    margin-bottom: 30px;
}
input.form-duasperguntas{
    margin-top: 5px;
}

/*Inputs tipo radio e checkbox*/
.form-check input[type=radio], .form-check input[type=checkbox]{
    border: solid black 1px;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.form-check, .form-subpergunta{
    max-width: 100%;
    margin: 10px 5px 0 15px;
}

.form-check-label{
    padding-top: 10px;
    display: table-cell;
    line-height: 0.6;
}

.separadorForm{
    margin-top: 95px;
}

/*Campos de carater obrigatorio*/
.campoObrigatorio{
    color: red;
    font-weight: bold;
}
/*Tamanho da letra e checkbox, politica privacidade*/
.formpolprivacidade{
    font-size: 13px;
}

label.formpolprivacidade{
    line-height: 0.7;
}
input.formpolprivacidade{
    height: 15px;
    width: 15px;
    border: lightgrey solid 1px !important;
}
/* cor para links */
.ligacao{
    color: #77C3EC;
}
/* Butão enviar, usa formatação semelhante ao btnVoltar da home page*/
.btnEnviar{
    background-color: ghostwhite;
    color: #77C3EC;
    border-color: #77C3EC;
    border-width: 2px;
    margin: auto auto 20px 50%;
    width: 160px;
    height: 50px;
}
.btnEnviar:hover{
    background-color: #77C3EC;
    border-color: #77C3EC;
}
.btnEnviar:active{
    background-color: ghostwhite!important;
    color: #77C3EC!important;
    border-color: #77C3EC!important;
}

/*Formatação das imagens no banner lateral*/
.formBanner {
    margin: 15% 1% auto auto;
}

.imagem1{
    min-width: 100%;
    height: 28%!important;
}
.img-thumbnail{
    width: 50%;
    height: 22%;
}

/*Adpação das imagens a tamanhos mais pequenos*/
@media screen and (max-width: 1200px){
    .img-thumbnail{
        width: 100%;
        height: 18%!important;
    }
}
/*Banner lateral do formulário desaparece*/
@media screen and (max-width: 768px){
    .formBanner{
        display: none;
    }
}

/*CSS para a página "Loja"*/
.containerLoja{
    min-width: 100%;
    padding: 0;
}

div.lojaHeader{
    height: 90px;
    padding-top: 25px;
    text-align: center;
}

h1.lojaHeader{
    color: #9DD9F3;
    font-size: 50px;
    text-shadow: black 3px 1px;
}
.carousel-item{
    padding-left: 0;
    width: 100vw;
    height: 300px;
    background: lightgrey;
}
/* página contactos */
.mainContactos{
    box-sizing: border-box;
}
.mainContactos h1{
    font-size: 26px;
    text-align: center;
}
.mainContactos hr{
    margin:5px auto 25px;
    width:200px;
    border:#77C3EC 3px solid;
    border-radius: 10px;
    color:#77C3EC;
    opacity: 1;
}
.mainContactos h2{
    font-size: 22px;
}
.mainContactos p{
    font-size: 12px;
}
.caixaContactos{
    background-color: #77C3EC !important;
}
/* botão enviar contactos */
.btnContactosEnviar{
    background-color: ghostwhite;
    color: #77C3EC;
    border-color: #77C3EC;
    border-width: 2px;
    margin: 25px auto;
}
.btnContactosEnviar:hover{
    background-color: #77C3EC;
    border-color: #77C3EC;
}
.btnContactosEnviar:active{
    background-color: ghostwhite!important;
    color: #77C3EC!important;
    border-color: #77C3EC!important;
}
/* caixa azul com padding */
@media only screen and (max-width: 768px){
    .mainContactos{
        width: 100% !important;
        padding-bottom: 75px !important;
    }
}

